<div class="flex flex-col md:flex-row md:h-[348px] md:container">
    <div
        class="md:w-1/2 h-80 md:h-full bg-neutral-200 px-5 sm:px-[60px] py-12 sm:py-16 flex flex-col items-center justify-center text-center gap-6">
        <h3 class="font-bold text-[28px] leading-8 tracking-[4%] uppercase">Up to 40% off our Christmas collection</h3>
        <p class="paragraph-medium text-neutral-700 max-w-sm">Lorem ipsum dolor sit amet consectetur adipiscing eli
            mattis sit phasellus mollis sit aliquam sit nullam neque ultrices.</p>
        <button
            class="h-40 w-[120px] font-bold text-sm tracking-[6%] uppercase underline underline-offset-4 cursor-pointer hover:text-dark-brown duration-300">Shop
            Now</button>
    </div>
    <img src="/images/banners/christmas.png" alt="Christmas Discount" width="500" height="348"
        class="md:w-1/2 w-full h-80 md:h-full object-cover" />
</div>