<div
    class="flex {{brandStory.caption ? 'h-fit':'md:h-[348px]'}} flex-col {{reverse ? 'flex-col-reverse' : ''}} place-content-center md:container {{brandStory.direction === 'image-text' ? 'md:flex-row-reverse' : 'md:flex-row'}}">
    <div
        class="md:w-1/2 bg-neutral-200 px-5 sm:px-[60px] py-10 sm:py-16 flex flex-col items-center justify-center text-center gap-6">
        <p class="display-4 tracking-[6%] font-semibold uppercase text-neutral-600">{{ brandStory.caption }}</p>
        <h3 class="font-bold text-[28px] leading-8 tracking-[4%] uppercase">{{ brandStory.title }}</h3>
        <p class="paragraph-medium text-neutral-700 max-w-sm">{{ brandStory.description }}</p>
        <a [routerLink]="brandStory.link.url"
            class="inline-block w-[120px] font-bold text-sm tracking-[6%] uppercase underline underline-offset-4 cursor-pointer hover:text-dark-brown duration-300 mt-4">
            {{ brandStory.link.text }}
        </a>
    </div>
    <img [src]="brandStory.image" [alt]="brandStory.alt" width="500" height="348"
        class="md:w-1/2 w-full min-h-full md:max-h-full max-h-[300px] object-cover" />
</div>