<div class="min-w-[190px] max-w-full lg:max-w-64 h-[532px] flex flex-col justify-between">
    <a [routerLink]="['/product', product.slug]" class="block">
        <div class="space-y-5">
            <img [src]="product.image" [alt]="product.name" class="w-full h-80 object-cover" />
            <p class="display-2 tracking-[6%] font-semibold uppercase">{{ product.name }} <br /><span>{{ product.price |
                    currency:'USD':'symbol':'1.2-2' : 'en-US' }}</span></p>
            <p class="paragraph-default text-neutral-600 line-clamp-2">{{ product.description }}</p>
        </div>
    </a>

    <button class="btn-outline">Add to cart</button>
</div>