@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'EB Garamond', serif;

    /* Primary Palette */
    --color-warm-black: #3A3845;
    --color-beige-peach: #F7CCAC;
    --color-light-brown: #C69B7B;
    --color-dark-brown: #826F66;
    --color-custom-white: #FFFDFB;

    /* Neutral Colors */
    --color-neutral-800: #3A3845;
    --color-neutral-700: #595667;
    --color-neutral-600: #807F86;
    --color-neutral-500: #A6A6A8;
    --color-neutral-400: #CAC9CF;
    --color-neutral-300: #E5E5E5;
    --color-neutral-200: #F7F6F5;
    --color-neutral-100: #FFFFFF;

    /* Custom breakpoint */
    --breakpoint-xs: 430px;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-serif);
        color: var(--color-warm-black);
    }

    body {
        font-family: var(--font-sans);
        color: var(--color-warm-black);
    }
}

@utility container {
    @apply max-w-6xl mx-auto px-5;
}

/* Display Typography */
@utility display-12 {
    @apply text-8xl leading-24 font-semibold;
}

@utility display-11 {
    @apply text-7xl leading-[72px] font-semibold;
}

@utility display-10 {
    @apply text-6xl leading-[60px] font-semibold;
}

@utility display-9 {
    @apply text-5xl leading-12 font-semibold;
}

@utility display-8 {
    @apply text-4xl leading-10 font-semibold;
}

@utility display-7 {
    @apply text-3xl leading-9 font-semibold;
}

@utility display-6 {
    @apply text-2xl leading-8 font-semibold;
}

@utility display-5 {
    @apply text-xl leading-7 font-semibold;
}

@utility display-4 {
    @apply text-lg leading-6 font-semibold;
}

@utility display-3 {
    @apply text-base leading-[22px] font-semibold;
}

@utility display-2 {
    @apply text-sm leading-5 font-medium;
}

@utility display-1 {
    @apply text-xs leading-[18px] font-medium;
}

/* Body Typography */
@utility paragraph-large {
    @apply text-lg leading-7 font-normal;
}

@utility paragraph-medium {
    @apply text-base leading-6 font-normal;
}

@utility paragraph-default {
    @apply text-sm leading-[22px] font-normal;
}

@utility paragraph-small {
    @apply text-xs leading-[18px] font-normal;
}

@utility btn-outline {
    @apply border border-neutral-800 w-full uppercase tracking-[8%] display-1 cursor-pointer hover:bg-dark-brown hover:text-custom-white duration-500 hover:border-dark-brown font-semibold h-10;
}
