<nav class="py-3">
    <ul class="flex items-center gap-2 paragraph-default">
        @for (item of items; track $index) {
            <li>
                @if (item.url) {
                    <a [href]="item.url" class="text-neutral-600 hover:text-neutral-800">{{ item.label }}</a>
                } @else {
                    <span class="text-neutral-800">{{ item.label }}</span>
                }
            </li>
            @if (!isLastItem($index)) {
                <li class="text-neutral-600">/</li>
            }
        }
    </ul>
</nav>
